HibernateByPeggyFisher/target
HibernateByPeggyFisher/target/*
HibernateByPeggyFisher/.project
HibernateByPeggyFisher/.classpath
HibernateByLuv2Code/.project
HibernateByLuv2Code/.classpath
HibernateByLuv2Code/.settings
HibernateByLuv2Code/bin
HibernateByLuv2Code/bin/*

